header {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    background-color: var(--second-color);
    z-index: 9997;
}
.div-img {
    display: flex;
    width: 35%;
}
.div-list {
    display: flex;
    width: 65%;
    justify-content: flex-end;
    align-items: center;
    margin-right: 0.5rem;
}
header div img {
    width: 80px;
    height: 80px;
    margin: 0.5rem;
    margin-left: 2rem;
}
.div-list ul {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}
.link {
    text-decoration: none;
    color: var(--font-main-color);
    background-color: var(--third-color);
    padding: 0.8rem 1.5rem;
    border-radius: 10px;
    margin-right: 1rem;
    font-size: 20px;
}
.div-list li {
    list-style: none;
    text-align: center;
}
.link-phone {
    text-decoration: none;
    color: var(--font-main-color);
    margin-top: 1rem;
    font-size: 18px;
}

nav {
    width: 100%;
}

.navbar-logo {
    font-size: 20px;
    font-weight: bold;
}

.navbar-toggle {
    margin-top: 1.4rem;
    font-size: 40px;
    cursor: pointer;
}

.navbar-menu {
    display: flex;
    flex-direction: column;
    list-style: none;
}

.navbar-item {
    padding: 10px;

    border-bottom: 1px solid #ccc;
}
.icon-nav {
    display: none;
}

.overlay {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 33%;
    background-color: rgba(0, 0, 0, 0.85); /* Color de fondo semitransparente */
    z-index: 9998; /* Valor alto de z-index para superponerse a otros elementos */
    color: #fff; /* Color del texto dentro del div */
}
.superponer {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 9999;
    margin-top: 1.2rem;
    margin-right: 5rem;
}

@media screen and (max-width: 1030px) {
    .div-img {
        width: 20%;
    }
    .div-list {
        width: 80%;
    }
}
@media screen and (max-width: 850px) {
    nav {
        width: 30%;
    }
    .list-nav {
        display: none;
    }
    .icon-nav {
        display: block;
        margin-bottom: 1rem;
    }
    .div-list ul {
        display: grid;
        grid-template-columns: 1fr;
        grid-row-gap: 12px;
    }
}
