.container-ok {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 100;
    border-radius: 5px;
}
.container-ok-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1.5rem;
    width: 400px;
    background-color: var(--third-color);
    border-radius: 50px;
    position: relative;
}
.title-form {
    font-size: 1.4rem;
    text-align: center;
    padding: 1rem;
}

.close-icon {
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px 20px;
    font-size: 40px;
    cursor: pointer;
}
@media (width <= 650px) {
    .container-ok {
        padding: 0 2rem;
    }
    .container-ok-text {
        width: 100%;
    }
    .title-form {
        font-size: 1.2rem;
    }
    .close-icon {
        font-size: 30px;
    }
}
