#Contact-me {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.container-contact-us {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 70%;
}

.container-info p {
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
}
.div-close {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}
@media screen and (max-width: 500px) {
}
