#about-me {
    height: 86vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-profile {
    transition: all ease-in-out 0.4s;
}
.card-profile-description {
    transition: all ease-in-out 0.4s;
}
@media screen and (min-width: 1500px) {
    #about-me {
        height: 88vh;
    }

    .card-profile {
        scale: 1.1;
        margin-right: 3rem;
        transition: all ease-in-out 0.4s;
    }
    .card-profile-description {
        scale: 1.1;
        margin-left: 3rem;
        transition: all ease-in-out 0.4s;
    }
}
@media screen and (max-width: 1000px) {
    #about-me {
        flex-direction: column;
        height: 100%;
    }
    .card-profile {
        margin: 2rem 0;
    }
    .card-profile-description {
        width: 450px;
        margin-bottom: 2rem;
    }
}
@media screen and (max-width: 550px) {
    .card-profile-description {
        width: 350px;
    }
}
@media screen and (max-width: 470px) {
    .card-profile-description {
        width: 290px;
        height: 100%;
    }
    .div-knowledges {
        display: flex;
        flex-direction: column;
    }
    .card-profile {
        width: 290px;
    }
}
@media screen and (max-width: 400px) {
    .card-profile-description {
        width: 235px;
        height: 100%;
    }
    .card-knowledges {
        height: 100%;
    }
}
