.container-inputs {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 2rem;
    width: 750px;
}
.container-input {
    display: flex;
    flex-direction: column;
    text-align: start;
}
.container-input label {
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
}
.input {
    width: 400px;
    height: 30px;
    border-radius: 0.5rem;
    border: 1px solid var(--third-color);
    margin: 0.5rem 0;
    padding: 0.5rem;
    background-color: var(--background-body);
    color: var(--font-main-color);
}
.description {
    height: 300px;
}
.div-button__form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
}
@media (width <= 650px) {
    .container-inputs {
        width: 100%;
        margin: 0;
    }
    .input {
        width: 300px;
    }
    .div-button__form {
        grid-gap: 0.5rem;
    }
}
